:root {
    --color-size-pixr: 204, 169, 255;
    --color-likes-pixr: 255, 183, 234;
    --color-views-pixr: 147, 192, 255;
    --color-downloads-pixr: 156, 240, 156;
}

.setting-item.extra > .setting-item-info {
    opacity: 0.65;
}

.pixr-view-container {
    padding: 5px;
    margin: 0 auto;
    border-radius: 6px;
    height: calc(100% - 50px);
}

.search-input {
    width: 100%;
    height: 2.4em;
    padding: 5px;
    font-size: 1em;
    padding-left: 0.75em;
    border: 1px solid var(--background-modifier-border);
    outline: none;
}

.pagination-hidden {
    display: none;
}

.result-stats {
    color: var(--text-faint);
    padding-bottom: 12px;
    padding-top: 10px;
    font-size: 1em;
}

.search-results {
    padding: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -8px 0;
    list-style-type: none;
    overflow-y: scroll;
    max-height: 82%;
}

.result-item {
    height: 20vh;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-flex: 1;
    margin: 0 8px 8px 0;
    text-decoration: none;
    position: relative;
}

.result-item a:hover {
    text-decoration: underline;
}

.externalLinkIcon > svg {
    fill: var(--background-modifier-accent);
}

.externalLinkIcon {
    transition: 15ms ease-in-out;
}

.externalLinkIcon:hover {
    cursor: pointer;
    margin-top: -2px;
    margin-right: -1px;
}

.result-image {
    z-index: 0;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    -o-object-fit: cover;
    vertical-align: bottom;
    transition: 300ms ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.result-item:hover .result-image {
    transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -o-transform: translateY(-34px);
}

.result-item:hover .result-options {
    transform: translateY(-38px);
    -webkit-transform: translateY(-38px);
    -moz-transform: translateY(-38px);
    -ms-transform: translateY(-38px);
    -o-transform: translateY(-38px);
}

.result-options {
    display: grid;
    cursor: pointer;
    text-align: left;
    padding: 0.25em;
    justify-content: space-between;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-template-columns: 0.5fr 0.65fr;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--background-modifier-border);
    border-left: 1px solid var(--background-modifier-border);
    border-right: 1px solid var(--background-modifier-border);
}

.result-options img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--background-modifier-border);
}

.user-info {
    width: 100%;
    line-height: 1.8em;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.user-info span {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 8px;
    overflow: hidden;
    width: calc(100% - 30px);
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 280ms ease-in-out;
}

.action-button {
    margin: 2px;
    padding: 2px;
    display: flex;
    transition: 200ms;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    align-content: center;
    border: 1px solid var(--background-modifier-border);
    background-color: var(--background-primary);
}

.action-button:hover {
    background-color: var(--background-primary-alt);
}

.action-button svg {
    fill: var(--text-normal);
    height: 1.125em;
    width: 1.125em;
}

.photographer-name {
    font-size: 1em;
    margin-left: 6px;
    letter-spacing: 0.7px;
}

.pagination {
    padding-top: 10px;
}

.pixrDonationSection {
    width: 65%;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
    color: var(--text-normal);
}

/**/

.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
}

/**/

.pagination {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.pagination-left,
.pagination-right,
.pagination-middle {
    padding: 18px 0;
}

.pagination a,
.pagination span {
    text-align: center;
    font-weight: 300;
    vertical-align: middle;
    line-height: 1em;
    height: 44px;
    color: var(--text-faint);
    font-size: 16px;
}

.pagination a {
    padding: 5px 18px;
    max-width: 160px;
    border-radius: 6px;
    text-decoration: none;
    margin: 0 6px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 1px 1px inset var(--background-tertiary);
    background-color: var(--background-primary);
}

.pagination a:hover,
.pagination a.current {
    font-weight: 500;
    color: var(--interactive-accent);
}

.pagination a.current::before {
    content: "◦";
    text-decoration: none;
}

.pagination-middle {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pagination-middle ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-middle li {
    display: inline-block;
}

.pagination-hidden {
    display: none !important;
}

.pagination-loader {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pagination-loader::before,
.pagination-loader::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pagination-loader::before {
    background: var(--background-secondary);
}

.pagination-loader::after {
    content: "";
    font-size: 48px;
    width: 1em;
    height: 1em;
    border: 2px solid var(--text-faint);
    border-top-color: var(--interactive-accent);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

/**/

.title.feature-single-hero {
    display: block;
    text-align: center;
    margin-block-start: 0.46em;
    margin-block-end: 0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--text-faint);
    line-height: 1.1667;
    font-weight: 700;
}

.utility-page-content-image-wrapper {
    display: contents;
    width: 100%;
    flex-direction: column;
    border-radius: 18px;
    text-align: center;
    display: block;
    opacity: 1;
    overflow: hidden;
    height: 72vh;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 var(--background-modifier-border);
}

.utility-page-content-image-wrapper img {
    z-index: 0;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    -o-object-fit: cover;
    vertical-align: bottom;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

/*tabs*/

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    border-bottom: 1px solid transparent;
    margin: 0 0 0;
    padding: 0;
    background-color: var(--background-secondary);
    column-gap: 8px;
    display: flex;
    padding: 0px;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: 0;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--text-faint);
    flex: 1;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding: 5px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}

.react-tabs__tab--selected {
    background: var(--background-primary);
    border-color: transparent;
    color: var(--text-normal);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: var(--background-primary);
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

/**/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.pixr-plugin-modal {
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    padding: 0;
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    text-align: center;
    mix-blend-mode: normal;
    height: calc(100% + 1px);
    transform: translateY(-50%);
    max-height: calc(100% + 25px);
    transition: 300ms ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: var(--background-secondary);
}

.pixr-plugin-modal-content {
    box-shadow: none !important;
    border: none;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}
